body, html {
    width: 100vw;
}

#funboard ul{
        /*opdracht voor student*/
}

#score {
    font-size: 40px;
    font-weight: bold;
    vertical-align: middle;
    height: 60px;
    width: 60px;
}

.meme-pic{
    width: 100px;
    height: 100px;
}
